{% extends 'default/index.html.twig' %}

{% block title %}Маргарита Евстюнина - Фотограф - Обо мне{% endblock %}

{% block body %}
	<section class="about">
		<article class="left-side">
			<div class="title">
				<h1>Обо мне</h1>
			</div>
			<div class="photo">
				<img src="{{ asset('img/margo2.jpg') }}" alt="My favorite photo">
			</div>
			<div class="photo-description">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto at cumque cupiditate
					dolorem dolores, doloribus eum harum ipsam modi nemo, nisi odit quod reiciendis repellat ut
					vero!</p>
			</div>
		</article>
		<article class="right-side">
			<div class="title">
				<h1>События</h1>
			</div>
			{% if articles %}
				{% for article in articles %}
					<div class="post">
						{#<div class="post-icon">#}
						{#<img src="{{ asset('img/background.jpg') }}" alt="Свадебная фотосессия">#}
						{#</div>#}
						<div class="post-date">{{ article.createDate|date("d.m.Y") }}</div>
						<div class="post-description">
							<h3><a href="/about/article/{{ article.id }}">{{ article.title }}</a></h3>
							<p>{{ article.text }}&hellip;</p>
						</div>
					</div>
				{% endfor %}
				<div class="more-link">
					<a href="/about/articles"><h2>Больше событий &gt;</h2></a>
				</div>
			{% endif %}
		</article>
	</section>
	<div class="clearfix"></div>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/about.css') }}">
{% endblock %}

{% block javascripts %}

{% endblock %}