{% extends 'default/index.html.twig' %}

{% block title %}Маргарита Евстюнина - Фотограф - Галерея{% endblock %}

{% block body %}
	<section class="gallery">
		{% if albums %}
			{% for album in albums %}
				<article class="album">
					<a class="album-icon" href="/gallery/album/{{ album.yaAlbumId }}">
						<img src="{{ album.coverLink }}" alt="{{ album.title }}">
					</a>
					<div class="album-description">{{ album.description }}</div>
				</article>
			{% endfor %}
		{% endif %}
	</section>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/gallery.css') }}">
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block javascripts %}

{% endblock %}