{% extends 'default/index.html.twig' %}

{% block title %}Маргарита Евстюнина - Фотограф - Галерея{% endblock %}

{% block body %}
	<section class="gallery">
		<div class="album-description">
			<p>
				{{ album.summary }}
			</p>
		</div>
		{% if photos %}
			{% for photo in photos %}
				<article class="photo-preview">
					<a class="photo-preview-icon" href="{{ photo.imgHref }}{{ size }}" data-gallery
					   style="background-image: url('{{ photo.imgHref }}{{ size }}'); background-position: center; background-size: cover; background-repeat: no-repeat;">
					</a>
				</article>
			{% endfor %}
		{% endif %}
		<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
			<div class="slides"></div>
			<h3 class="title"></h3>
			<a class="prev">‹</a>
			<a class="next">›</a>
			<a class="close">×</a>
			<a class="play-pause"></a>
		</div>
	</section>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/gallery.css') }}">
	<link rel="stylesheet" href="{{ asset('css/vendor/blueimp-gallery.css') }}">
	<link rel="stylesheet" href="{{ asset('css/vendor/blueimp-gallery-indicator.css') }}">
	<link rel="stylesheet" href="{{ asset('css/vendor/blueimp-gallery-video.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script src="{{ asset('js/vendor/blueimp-gallery.min.js') }}"></script>
	<script src="{{ asset('js/vendor/jquery.blueimp-gallery.min.js') }}"></script>
	<script src="{{ asset('js/vendor/blueimp-helper.js') }}"></script>
	<script src="{{ asset('js/vendor/blueimp-gallery-fullscreen.js') }}"></script>
{% endblock %}