{% for album in albums %}
	<tr>
		<td>
			<div class="media" id="album-{{ album.album_id }}"
				 data-toggle="collapse" data-target="#album-{{ album.album_id }}-photos">
				<div class="media-left" href="{{ album.links.cover_link }}">
					<img class="media-heading" src="{{ album.links.cover_link }}" alt="Обложка альбома" width="75" height="75">
				</div>
				<div class="media-body">
					<h4 class="media-heading">{{ album.title }}</h4>
					{{ album.description }}
					<h6 class="media-bottom">
						Автор:
						<small class="text-muted">{{ album.author }}</small>
					</h6>
				</div>
				<div class="col-xs-12 col-sm-3 pull-right">
					<label for="al-{{ album.album_id }}">Сохранить</label>
					<input type="checkbox" id="al-{{ album.album_id }}" checked>
				</div>
			</div>

			<div class="collapse m-t-1" id="album-{{ album.album_id }}-photos"
				 data-album-id="{{ album.album_id }}">
				<div class="container">

				</div>
			</div>
		</td>
	</tr>
{% endfor %}