{% for photo in photos %}
    {% if loop.index % 4 == 1 %}
        <div class="row">
    {% endif %}
    <div class="col-xs-8 col-sm-3">
        <div class="card text-xs-center" style="box-sizing: border-box">
            <div class="card-img-top p-t-1">
                <a href="{{ photo.link }}" target="_blank">
                    <img src="{{ photo.link }}" alt="{{ photo.title }}" height="100px">
                </a>
            </div>

            <div class="card-block">
                <h6 class="card-title">{{ photo.title }}</h6>
                <p class="card-text">{{ photo.photo_id }}</p>
            </div>
        </div>
    </div>
    {% if loop.index % 4 == 0 %}
        </div>
    {% endif %}
{% endfor %}
</div>